<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyzFq50KOk7OREj23yw4IsU6Y8GCr7OfA</string>
	<key>GCM_SENDER_ID</key>
	<string>120185473230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weHealthy</string>
	<key>PROJECT_ID</key>
	<string>we-healthy-project</string>
	<key>STORAGE_BUCKET</key>
	<string>we-healthy-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120185473230:ios:fa80d13e765e5f57b2e89f</string>
</dict>
</plist>